<?xml version="1.0"?>

<model>
  <name>ground concrete</name>
  <version>1.0</version>
  <sdf version="1.3">model.sdf</sdf>

  <author>
    <name>Roberto Zegers R.</name>
  </author>

  <description>
    A concrete textured ground plane. Great for an industrial look.
    Texture source: https://bitbucket.org/osrf/ariac/src/ariac_2017/osrf_gear/models/workcell/materials/textures/Floor.png
  </description>

</model>
