<?xml version="1.0"?>

<model>
  <name>parking_column</name>
  <version>1.0</version>
  <sdf version="1.5">parking_column.sdf</sdf>
  <author>
    <name>Roberto Zegers</name>
    <email>rzegers@uc.cl</email>
  </author>

  <description>
    Parking column from Hangar 16 in Montreal downloaded from 3dWarehouse
    https://3dwarehouse.sketchup.com/model/875dafe09cbcc781351d9ca36f76b95/Column
  </description>
</model>