<?xml version="1.0" encoding="UTF-8"?>
<!-- Top-level launch file for final project -->

<launch>

  <!-- If required, insert code to launch noisy odometry here -->

  <!-- If required, insert code to launch map_server node here -->

  <!-- If required, insert code to launch navsat_transform_node here -->

  <!-- If required, insert code to launch an extended Kalman filter (EKF) node here -->

  <!-- If required, insert code to launch an unscented Kalman filter (UKF) node here -->

  <!-- If required, insert code to launch a particle filter (AMCL) node here -->

  <!-- If required, insert code to launch the laser_scan_matcher node here -->


</launch>