<?xml version="1.0"?>

<model>
  <name>Tunnel</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole.bsmr@gmail.com</email>
  </author>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.com</email>
  </author>

  <author>
    <name>Roberto Zegers</name>
  </author>

  <description>
    A tunnel with a concrete wall with red stripes. 31 x 2.5 x 4.0 mt
    Original wall texture from OSRF's Gazebo Model 'Starting Pen' licenced under CC0 (Creative Commons Zero).
  </description>

  <depend>
  </depend>

</model>
